@import "../../scss";

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 175px 0;
  max-width: 340px;
  .loading {
    width: 140px;
    height: 140px;
  }
  .title {
    font-size: 1.5rem;
  }
  .flex1 {
    background: $snow-storm-0;
  }
}

@include mobile-rools {
  .container {
    padding: 120px 0;
  }
  .loading {
    width: 140px;
    height: 140px;
  }
}
