/* Nord Snow Storm */
$snow-storm-0: #ffffff;
$snow-storm-1: #eceff4;
$snow-storm-2: #e5e9f0;
$snow-storm-3: #d8dee9;

/* Polar Night */
$polar-night-0: #222730;
$polar-night-1: #2e3440;
$polar-night-2: #3b4252;
$polar-night-3: #434c5e;
$polar-night-4: #4c566a;
$polar-night-5: #66728a;
$polar-night-6: #8993a5;
$polar-night-7: #a9b0bd;

/* Frost */
$frost-0: #8fbcbb;
$frost-1: #88c0d0;
$frost-2: #81a1c1;
$frost-3: #5E81AC;

/* Aurora */
$aurora-0: #bf616a;
$aurora-1: #d08770;
$aurora-2: #ebcb8b;
$aurora-3: #a3be8c;
$aurora-4: #b48ead;
$aurora-5: #72bb82;
